@charset "UTF-8";

body{padding-bottom:1em;}
.thread_nav,#repod_thread_stats_container,.navtopright{float:right;}
.postblock,.postlists th{
        width:4.5em;
        white-space:nowrap;
}
.post.reply{padding-right:8px;}
#catalog td center{
        overflow:hidden;
        max-height:250px;
        max-width:100px;
        word-wrap:break-word;
}
.replymode{
        display:block;
        padding:2px;
}
/*.post{
        overflow-wrap:break-word;
        word-break:break-word;
}*/
.styleBtn{
        image-rendering:optimizeSpeed;
        image-rendering:-moz-crisp-edges;
        image-rendering:-o-crisp-edges;
        image-rendering:-webkit-optimize-contrast;
        image-rendering:pixelated;
        image-rendering:optimize-contrast;
        -ms-interpolation-mode:nearest-neighbor;
}
