@charset "UTF-8";

.thread_nav,#repod_thread_stats_container,.navtopright{float:right;}
.postblock,.postlists th{
        width:4.5em;
        white-space:nowrap;
}
.post.reply{padding-right:8px;}
#catalog td center{
        overflow:hidden;
        max-height:250px;
        max-width:100px;
        word-wrap:break-word;
}
.replymode{
        display:block;
        padding:2px;
}
