@import "../base.css";

body{background-color:#eef2ff;}
.postNum a{color:black;}
a,a:visited{color:#34345c;}
a:hover{color:#d00;}
.thread_nav,#repod_thread_stats_container,.navtopright{float:right;}
.postblock,.postlists th{background-color:#98e;}
.subject{color:#0f0c5d;}
.nameBlock{color:#117743;}
.postlists tr:nth-of-type(odd),.reply{background-color:#d6daf0;}
.postlists tr:target,table:target .post.reply{background-color:#d6bad0;}
#errormsg{color:red}
.omittedposts{color:#707070}
.replymode{
        background-color:#0010E0;
        color:#fff;
}
.unkfunc{color:#789922;}
.unkfunc2{color:#FF69B3;}
