@import "../base.css";

body{background-color:#ffe;}
.postNum a,.reflink,body{color:maroon;}
a,a:visited{color:blue;}
a:hover{color:#d00;}
.postblock,.postlists th{background-color:#ea8;}
.subject{color:#cc1105;}
.nameBlock{color:#117743;}
.postlists tr:nth-of-type(odd),.reply{background-color:#f0e0d6;}
.postlists tr:target,table:target .post.reply{background-color:#f0c0b0;}
#errormsg{color:red}
.omittedposts{color:#707070}
.replymode{background-color:#e04000;}
.viewmode{background-color:#e08000;}
.viewmode,.replymode{color:white;}
.unkfunc{color:#789922;}
.unkfunc2{color:#FF69B3;}
.newsbody{color:black;}
