@import "../base2.css";

body{
        background-color:#D2FFEE;
        background-image: linear-gradient(#95D9E1,transparent 200px);
        background-repeat: repeat-x;
}
.boardNav{color:#89A;}
.postNum a,.reflink,.postNum a:visited,.reflink:visited{color:black;}
a,a:visited{color:#00637B;}
.sideArrows{color:#8FCCCD;}
#pager,.reply{
        border-right-style:solid;
        border-bottom-style:solid;
        border-color:#8FCCCD;
}
input[type="text"],input[type="password"],textarea{
        border-style:solid;
        border-color:#aaa;
}
a:hover{color:#d00!important;}
.postblock,.postlists th{background-color:#95D2D3;}
hr{border-color:#B7D9C5;}
.subject{color:#cc1105;}
.nameBlock{color:#117743;}
.postertrip{font-weight:400;}
.postlists tr:nth-of-type(odd),.reply,#pager{background-color:#B6DDDE;}
.postlists tr:target,table:target .post.reply{background-color:#a9d8ff;}
#errormsg,h1,h2,h3{color:maroon;}
.omittedposts{color:#707070}
.replymode{
        background-color:#e04000;
        color:#fff;
}
.unkfunc{color:#789922;}
.quotelink{color:#D00;}
