@import "../base2.css";

body{background-color:#eee;}
.postNum a,.reflink,.postNum a:visited,.reflink:visited,body{color:#333;}
a,a:visited{color:#f60;}
#pager,.reply{
        border-style:solid;
        border-color:#ccc;
}
input[type="text"],input[type="password"],textarea{
        border-style:solid;
        border-color:#aaa;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border-color:#ea8;}
a:hover{color:#f30!important;}
.postblock,.postlists th{
        background-color:#ddd;
        border-color:#ccc;
        border-style:solid;
}
hr{border-color:#ddd;}
.subject{color:#111;}
.postlists tr:nth-of-type(odd),.reply,#pager{background-color:#ddd;}
.postlists tr:target,table:target .post.reply{
        background-color:#ccc;
        border-color:#ccc;
}
.post.reply{border-color:#ccc;}
.omittedposts{color:#707070}
.viewmode,.replymode{
        background-color:#ccc;
        color:black;
}
.unkfunc{color:#789922;}
.unkfunc2{color:#FF69B3;}
.quotelink{color:#f60;}
#errormsg{color:red;}
