@import "../base2.css";

body{background-color:#1d1f21;}
.postNum a,.reflink,.postNum a:visited,.reflink:visited,body{color:#c5c8c6;}
a,a:visited{color:#81a2be;}
#pager,.reply{
        border-right-style:solid;
        border-bottom-style:solid;
        padding:2px;
        border-color:#111;
}
input[type="text"],input[type="password"],textarea{
        border-style:solid;
        border-color:#aaa;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border-color:black;}
a:hover{color:#5f89ac!important;}
.postblock,.postlists th{
        background-color:#282a2e;
        border-color:#111;
        border-style:solid;
}
hr{border-color:#282a2e;}
.subject{color:#b294bb;}
.postlists tr:nth-of-type(odd),.reply,#pager{background-color:#282a2e;}
.postlists tr:target,table:target .post.reply{
        background-color:#1d1d21;
        border-color:#111;
}
.post.reply{border-color:#282a2e;}
.omittedposts{color:#707070}
.replymode{
        background-color:#111;
        color:#fff;}
.unkfunc{color:#b5bd68;}
.quotelink{color:#5f89ac;}
#errormsg{color:red;}
