@import "../base2.css";

body{
        background-color:#ffe;
        background-image: linear-gradient(#fed6af,transparent 200px);
        background-repeat: repeat-x;
}
.boardNav{color:#b86;}
.boardNav a,.postNum a,.reflink,.boardNav a:visited,.postNum a:visited,.reflink:visited,body{color:maroon;}
a,a:visited{color:blue;}
.sideArrows{color:#e0bfb7;}
#pager,.reply{
        border-right-style:solid;
        border-bottom-style:solid;
        border-color:#d9bfb7;
}
input[type="text"],input[type="password"],textarea{
        border-style:solid;
        border-color:#aaa;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border-color:#ea8;}
a:hover{color:#d00!important;}
.postblock,.postlists th{
        background-color:#ea8;
        border-style:solid;
}
hr{border-color:#d9bfb7;}
.subject{color:#cc1105;}
.nameBlock{color:#117743;}
.postlists tr:nth-of-type(odd),.reply,#pager{background-color:#f0e0d6;}
.postlists tr:target,table:target .post.reply{
        background-color:#f0c0b0;
        border-color:#d99f91;
}
#errormsg{color:red}
.omittedposts{color:#707070}
.replymode{
        background-color:#e04000;
        color:#fff;
}
.unkfunc{color:#789922;}
.quotelink{color:navy;}